# 1. Fichiers de configuration et d'environnement (SECRETS)
.env
.env.*
!.env.example

# 2. Fichiers de logs et d'erreurs
*.log
error_log
php_errors.log

# 3. Dumps et sauvegardes BDD locales
*.sql
*.sqlite
*.bak

# 4. Fichiers systèmes OS
.DS_Store
Thumbs.db

# 5. IDEs et Outils de développement
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

# 6. Dossiers spécifiques au projet
/public/uploads/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

# PHP CS Fixer
.php-cs-fixer.cache

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
