<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Rediriger toutes les requêtes vers index.php si le fichier ou dossier n'existe pas physiquement
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
